.anticipos-content {
    padding: 20px;
    /* background-color: #edf4fe; */
}

.step-indicator{
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    padding-bottom: .6rem;
    user-select: none;
}

/*Clase para resaltar paso actual del antiicpo*/
.paso-anticipo{
    /* color: #668ab1; */
    color: #879eb8;
    font-size: medium;
}

.paso-anticipo-actual{
    color: #0056b3;
    font-size: medium;
}

.section-table h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #153f65;
}

/* Botón de agregar */
.btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.btn-default{
    outline: solid 2px rgb(113, 128, 147, 0);
    background: #718093;
    transition: all ease-in-out .6s;
    color: white;
    font-size: .98rem;
    height: fit-content;
}

.btn-default:hover{
    background: #353b48;
    outline: solid 2px rgb(47, 54, 64,1);
}

.btn-descargar-anticipo{
    outline: solid 2px rgb(113, 128, 147, 0);
    background: #b1d2fc;
    transition: all ease-in-out .6s;
    color: rgb(0, 62, 133);
    font-size: .98rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    height: fit-content;
}

.btn-descargar-anticipo:hover{
    background: #a9ccfa;
    outline: solid 2px rgb(5, 99, 207);
}

#container-archivo-autorizacion{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    height: fit-content;
}

.edit-doc-autorizacion-title{
    /* font-size: .9rem; */
    font-weight: bolder;
    color: #03131f;
}

.btn-aniadir-autorizacion{
    outline: solid 2px rgb(171, 209, 252);
    background: #f7fbff;
    transition: all ease-in-out .6s;
    color: rgb(12, 94, 189);
    height: max-content;
    font-size: .98rem;
    gap: .2rem;
    height: fit-content;
}

.btn-aniadir-autorizacion:hover{
    background: #d3e3f8;
    outline: solid 2px rgb(109, 169, 238);
}

#edit-enlace-archivo{
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #007bff;
}

.help-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .8rem;
    margin-bottom: .8rem;
}

.help-panel-buttons{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.btn-add-anticipo {
    background-color: #1f58a8;
    color: #ffffff;
}

.btn-terminar-anticipo{
    background-color: #1f58a8;
    color: #ffffff;
    height: fit-content;
}

.bloq-terminar-anticipo{
    background-color: #81a3d4;
    cursor: no-drop;
    color: #ffffff;
}

/*En caso de tener un anticipo pendiente*/
.bloq-anticipo-pendiente {
    background-color: #81a3d4;
    cursor: no-drop;
    color: #ffffff;
}

.container-search-input{
    display: grid;
    position: relative;
}

.container-search-input .placeholder{
    color: #1f58a8;
}

#input-buscar-anticipo{
    width: 260px;
    padding: .4rem .6rem;
    background: none;
    font-size: 15px;
    outline: solid 2px rgba(0,0,0,0);
    transition: all ease-in-out .3s;
    border-radius: .4rem;
    border: solid 1px #1f58a8;
}

.btn-refresh{
    background-color: #1f58a8;
    color: #ffffff;
}

/* .lupa{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: center;
    right: 8px;
    padding: 0 .2rem;
    color: #777;
    transition: 0.3s;
    cursor: pointer;
    z-index: 99;
}

.lupa:hover{
    color: #0b2942;
    font-weight: bold;
}

.lupa i{
    float: right;
} */

/* Contenedor responsive para la tabla */
.table-responsive {
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: .8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* Estilos base de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para celdas */
.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #03131f;
}

/* Encabezado de la tabla */
.table-head {
    background: #7FAFE6;
    background: linear-gradient(100deg, rgb(193, 221, 255) 0%, rgba(227, 244, 255, 1) 46%, rgba(228, 238, 247, 1) 58%, rgba(217, 237, 255, 1) 78%, rgba(220, 233, 245, 1) 100%);
    position: sticky;
    text-align: left;
    top: 0;
    z-index: 2;
}

.table-head tr th{
    /* color: #1a4faa; */
    color: #153f65;
    font-weight: bold;
    /* font-size: 1.2rem; */
}

/* Efecto hover en las filas */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

.btn-close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #1a4fac;
    cursor: pointer;
}

/*Estilos para el modal inicia*/
.modal{
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-detalles-viaticos {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 1.2rem;
    margin:12px auto;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
}

/* Modal Content */
.modal-content-detalles-viaticos {
    position: relative;
    background-color: #fefefe;
    border-radius: 1.2rem;
    margin:12px auto;
    border: 1px solid #888;
    width: 580px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow: auto;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
    padding: 8px 16px;
    color: #1a4fac;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(100deg, rgb(236, 241, 247) 0%, rgb(195, 216, 243) 46%);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.modal-header h3{
    font-size: large;
    font-weight: bolder;
}

.modal-body {
    margin-top: .5rem;
    padding: 2px 16px;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    padding: 8px 16px;
    color: white;
}

.btn-close-modal:hover{
    transition: linear .4s;
    font-weight: bold;
    rotate: 90deg;
}

/*1. Section Datos Solicitante*/
.datos-solicitantes-container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: .8rem 0 0 0;
    flex-wrap: wrap;
}

.input-icon-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    z-index: 10;
    pointer-events: none;
    font-size: 14px;
}

.modal-element input, .modal-element select{
    width: 80%;
    padding: .4rem;
    border-bottom: 2px solid #ccc;
    background: none;
    /* border-radius: 5px; */
    font-size: 15px;
    outline: solid 2px rgba(0,0,0,0);
    transition: all ease-in-out .3s;
    border-radius: .4rem;
    border: solid 1px rgb(211, 206, 206);
}

#solicitante, #dni_solicitante, #departamento, #cargo, #monto-total{
    width: 80%;
    padding: .4rem .4rem .4rem 2rem;
    transition: all ease-in-out .4s;
}

.placeholder{
    position: absolute;
    left: 8px;
    background: #f9fdff;
    top: 50%;
    transform: translateY(-28px);
    padding: 0 .2rem;
    color: #777;
    pointer-events: none;
    font-size: 12px;
    transition: 0.3s;
}

.modal-element{
    position: relative;
    margin-bottom: 20px;
}

/*Seccion 2. Concepto*/
.form-step {
    display: none;
    animation: fadeIn 0.4s ease-in-out;
}

.form-step.active {
    display: block;
}

.title-concepto{
    display: flex;
    gap: 1rem;
}

.concepto-categoria{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

/*Seccion 2. Concepto - Compras Menores a 400*/
.panel-compras-menores{
    margin: 1.4rem 0;
    /* color: #ff9f1a; */
}

.indicacion-compras{
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #487eb0;
    margin-bottom: .6rem;
    font-size: .9rem;
    font-weight: 600;
}

.indicacion-compras span{
    color: #b52b27;
}

#add-gasto-btn{
    width: fit-content; 
    background-color: #336FA9;
    color: white;
    margin-left: 1.4rem;
}

.remove-gasto-btn {
    position: absolute;
    top: 4px;
    right: 6px;
    background: transparent;
    border: none;
    color: #d9534f;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s;
}

.remove-gasto-btn:hover {
    color: #b52b27;
}

.compras-menores-container{
    display: grid;
    place-content: center;
    grid-template-columns: 26% 40% 15% 15%;
    padding: 2rem 0 0 0;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.descripcion-gasto{
    width: fit-content;
}

/*2 Concepto - Viaje*/
#viajes-tabs {
    margin-top: 1rem;
}

.tabs-header {
    display: flex;
    flex-wrap: nowrap;
    padding: .8rem .4rem;
    background-color: #eeeff0;
    border-radius: 0.4rem;
    gap: 5px;
    margin-bottom: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.tab-button {
    flex: 0 0 auto;
    white-space: nowrap;
    background-color: #bdd4ee;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.tab-button.active {
    background-color: #336FA9;
    color: white;
}

.tab-button.add-tab {
    background-color: #d9d9d9;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.viaje-sub-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .8rem;
}

.separador-viaje-subtitle{
    border-radius: .2rem;
    border-bottom: solid .1rem #336FA9;
    margin: .2rem 0 1.2rem 0;
}

.lupa{
    margin: 0 .4rem;
    color: #777;
    transition: 0.3s;
    cursor: pointer;
    z-index: 99; 
}

.lupa:hover{
    color: #0b2942;
    font-weight: bold;
}


.viaje-element{
    border-radius: .8rem;
    margin: 1.4rem 0;
}

.add-transp-provincial{
    width: fit-content; 
    background-color: #336FA9;
    color: white;
    margin-left: 1.4rem;
}

.section-transporte-provincial{
    padding: .8rem 0;
}

.med-transporte{
    display: flex;
    gap: 1.4rem;
    margin-bottom: 1.2rem;
    justify-content: center;
    align-items: center;
}

.container-remove-persona{
    display: flex;
    justify-content: end;
    padding-bottom: 0.8rem;
}

.remove-persona-btn{
    color: #d9534f;
    border: solid 1px #d9534f;;
}

.remove-persona-btn:hover{
    background-color: #be1b15;
    color: white;
}

.icon-container {
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: absolute;
  background-color: #2d5881;
  border-radius: 2px;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.horizontal {
  width: 100%;
  height: 4px;
}

.vertical {
  width: 4px;
  height: 100%;
}

#contenedor-creacion-adjuntar-autorizacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .8rem 0;
    gap: .8rem;
}

#contenedor-texto-descarga{
    display: flex;
    gap: .4rem;
}

#contenedor-archivo-seleccion{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

/* Estado del '-' */
.icon-container.minus .horizontal {
  transform: rotate(0deg); /* Asegura que la horizontal esté recta */
  width: 100%; /* mantiene sus proprciones */
}

.icon-container.minus .vertical {
    transform: rotate(90deg);
}

/* estilos para el estado de los anticipos */
.td-estado{
    text-align: center;
}

.span-td-estado{
    display: inline-flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    padding: .1rem .3rem;
    font-size: .8rem;
}

.nuevo{
    background-color: #2f3640;
    color: #f5f6fa;
}

.autorizado{
    /* background-color: #1e3799; */
    background-color: #4a69bd;
    color: #f5f6fa;
}

.completamente-autorizado{
    background-color: #69dd57;
    color: #f5f6fa;
}

.anulado{
    background-color: #8b9cb6;
    color: #f5f6fa;
}

.observado{
    background-color: #ff3838;
    color: #f5f6fa;
}

.rendido{/*finalizado*/
    background-color: #7f8fa6;
    color: #ffffff;
}

.abonado{
    background-color: #1b7a0d;
    color: #ffffff;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

/*Formulario para editar*/
#get-doc-autorizacion{
    display: none;
}

#editFileInfo{
    display: none;
    align-items: end;
    gap: .8rem;
}

#editFileLink{
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.modal-header-element{
    display: flex;
    gap: 1.6rem;
}

#edit-step-1{
    display: block;
}

#edit-solicitante, #edit-dni-solicitante, #edit-departamento, #edit-cargo{
    width: 80%;
    padding: .4rem .4rem .4rem 2rem;
    transition: all ease-in-out .4s;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-top: .9rem;
    padding: 0 1.2rem;
}

label {
  font-size: 13px;
  color: #424242;
  font-weight: 500;
}

.edit-title-concepto{
    display: flex;
    gap: 1rem;
    margin: .8rem 0;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 30px;
  background: #E0E0E0;
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  top: 7px;
  right: 20px;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
}

.btn-color-mode-switch > .alert {
  display: none;
  background: #FF9800;
  border: none;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background: #151515;
  color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 68px;
  background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert {
  display: block;
}

.btn-aprobar-anticipo{
    width: fit-content;
    background-color: #1f58a8;
    color: #fff;
    padding: .5rem 1rem;
    transition: all ease-in-out .4s;
    border-radius: .4rem;
    font-size: .98rem;
    cursor: pointer;
    height: fit-content;
}

.btn-aprobar-anticipo:hover{
    background-color: #1b4a8b;
    box-shadow: rgba(29, 116, 216, 0.4) 0px 0px 0px 2px, rgba(29, 116, 216, 0.4) 0px 4px 6px -1px, rgba(29, 116, 216, 0.4) 0px 1px 0px inset;
}

.btn-aprobar-anticipo-gerencia{
    width: fit-content;
    background-color: #092957;
    color: #fff;
    padding: .5rem 1rem;
    transition: all ease-in-out .4s;
    border-radius: .4rem;
    font-size: .98rem;
    cursor: pointer;
    height: fit-content;
}

.btn-aprobar-anticipo-gerencia:hover{
    background-color: #042453;
    box-shadow: rgba(29, 116, 216, 0.4) 0px 0px 0px 2px, rgba(29, 116, 216, 0.4) 0px 4px 6px -1px, rgba(29, 116, 216, 0.4) 0px 1px 0px inset;
}

#container-cambio-estado{
    display: flex;
    gap: .8rem;
    align-items: end;
    /* width: 100%; */
}

.btn-aprobar-totalmente{
    display: none;
    width: fit-content;
    padding: .5rem 1rem;
    background-color: #1f58a8;
    color: #fff;
    transition: all ease-in-out .4s;
    border-radius: .4rem;
    font-size: .98rem;
    cursor: pointer;
    height: fit-content;
}

.btn-aprobar-totalmente:hover{
    background-color: #1b4a8b;
    box-shadow: rgba(29, 116, 216, 0.4) 0px 0px 0px 2px, rgba(29, 116, 216, 0.4) 0px 4px 6px -1px, rgba(29, 116, 216, 0.4) 0px 1px 0px inset;
}

.btn-observar-anticipo{
    display: none;
    width: fit-content;
    padding: .5rem 1rem;
    background-color: #e72d1f;
    color: #fff;
    transition: all ease-in-out .4s;
    border-radius: .4rem;
    font-size: .98rem;
    cursor: pointer;
    height: fit-content;
}

.btn-observar-anticipo:hover{
    background-color: #d42c1f;
    box-shadow: rgba(199, 70, 70, 0.4) 0px 0px 0px 2px, rgba(199, 70, 70, 0.4) 0px 4px 6px -1px, rgba(199, 70, 70, 0.4) 0px 1px 0px inset;
}

.btn-anular-anticipo{
    /*display: none;*/
    width: fit-content;
    padding: .5rem 1rem;
    background-color: #8594ac;
    color: #fff;
    transition: all ease-in-out .4s;
    border-radius: .4rem;
    font-size: .98rem;
    cursor: pointer;
    height: fit-content;
}

.btn-anular-anticipo:hover{
    background-color: #8b9cb6;
    box-shadow: rgba(149, 152, 156, 0.4) 0px 0px 0px 2px, rgba(143, 145, 148, 0.4) 0px 4px 6px -1px, rgba(208, 211, 214, 0.4) 0px 1px 0px inset;
}

.btn-abonar-anticipo{
    display: none;
    width: fit-content;
    padding: .5rem 1rem;
    background-color: #1f58a8;
    color: #fff;
    transition: all ease-in-out .4s;
    border-radius: .4rem;
    font-size: .9rem;
    cursor: pointer;
    height: fit-content;
}

.btn-abonar-anticipo:hover{
    background-color: #1b4a8b;
    box-shadow: rgba(29, 116, 216, 0.4) 0px 0px 0px 2px, rgba(29, 116, 216, 0.4) 0px 4px 6px -1px, rgba(29, 116, 216, 0.4) 0px 1px 0px inset;
}

.dark-preview {
  background: #0d0d0d;
}

.white-preview {
  background: #fff;
}

.gasto-menor{
    position: relative;
}

.edit-remove-gasto-btn{
    position: absolute;
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    color: #d9534f;
    font-size: 20px;
    cursor: pointer;
    z-index: 11;
    width: fit-content;
    transition: color 0.2s;
}

#edit-add-gasto-btn{
    width: fit-content; 
    background-color: #336FA9;
    color: white;
    margin-left: 1.4rem;
}

.edit-adding-transp-provincial{
    width: fit-content; 
    background-color: #336FA9;
    color: white;
    margin-left: 1.4rem;
}

.edit-remove-transporte-btn{
    top: 5px;
    right: 10px;
    background: transparent;
    border: none;
    color: #d9534f;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    transition: color 0.2s;
}

.modal-element{
    position: relative;
    margin-bottom: 20px;
}


.mount-content{
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    gap: .8rem;
}

.mount-element{
    display: grid;
    position: relative;
    width: 100px;
    padding: .4rem .4rem .4rem 2rem;
    border-bottom: 2px solid #ccc;
    background: none;
    font-size: 15px;
    outline: solid 2px rgba(0,0,0,0);
    transition: all ease-in-out .3s;
    border-radius: .4rem;
    border: solid 1px rgb(211, 206, 206);
}

#edit-monto-total{
    background: none;
    border: none;
    width: 80px;
    outline: none;
}

.viaticos-detalles{
    outline: solid 1.8px #336FA9;
    border-radius: .4rem;
    padding: .38rem .5rem;
    color: white;
    background-color: #336FA9;
    cursor: pointer;
    transition: all ease-in .2s;
}

.viaticos-detalles:hover{
    background-color: #265d91;
    transform: scale(102%);
}

/*Reporte*/
.modal-header-detalles-viaticos{
    padding: 8px 16px;
    color: #1a4fac;
    display: flex;
    justify-content: end;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.viaticos-report {
    margin: 6px;
}

.title{
    text-align: center;
    /* font-size: 1.2rem; */
    font-size: 1rem;
    margin-bottom: .8rem;
    font-weight: bolder;
}

.num-cuenta{
    font-size: .9rem;
    margin-bottom: .8rem;
    font-weight: bolder;
}

.solicitante{
    text-align: center;
    font-size: .9rem;
    margin-bottom: .8rem;
    font-weight: bolder;
}

.resumen, .alimentacion, .total-title{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
    font-size: .9rem;
}

.viaticos-report table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.viaticos-report th, .viaticos-report td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: .7rem;
}

.viaticos-report th {
    font-weight: bolder;
    background-color: #f1f2f6;
}

.total{
    font-size: .72rem;
    font-weight: bolder;
}

.botones-detalles-viaticos{
    display: flex;
    justify-content: space-between;
}

.print-viaticos {
    margin-top: 10px;
    padding: 7.8px 10px;
    background-color: #007bff;
    color: white;
    border: #007bff solid 1px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    gap: .4rem;
    font-size: .7rem;
}

.print-viaticos:hover {
    background-color: #0056b3;
}

/*MODAL DE CARGA*/
.loading-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

.loading-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/*Este es el referente a la página completa*/
.loading-content-page {
    background: none;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite; 
    margin: 0 auto 10px;
}

.edit-doc-autorizacion-elementos{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: .8rem;
    }

#container-descarga{
    display: flex;
    justify-content: end;
    align-items: end;
}

#container-terminar-edicion{
    display: flex;
    justify-content: end;
    align-items: end;
}

.container-doc-autorizacion{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    gap: .4rem;
    width: max-content;
}

.btn-doc-aut-download{
    border: solid 1px #007bff;
    color: #0056b3;
    user-select: none;
    transition: transform 0.1s ease-out;
}

.btn-doc-aut-download:active{
    transform: scale(0.95);
}

.btn-doc-aut-download:hover{
    background-color: #1a87fc;
    color: white;
}

#lbl-archivo{
    margin: 0 auto;
    width: fit-content;
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid #4a4a4b;
    border-radius: .25rem;
    cursor: pointer;
    color: #424446;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all ease-out .2s;
}

#lbl-archivo:hover{
    border-color: #353738;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Esstilos para sección de concepto en creación de anticipo*/
.opcion-concepto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

/* concepto - radio button */
.opcion-concepto input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* estilo principal para los label que funcionan como botones de concepto */
.label-opcion {
    display: flex;
    align-items: center;
    padding: .4rem .8rem;
    border-radius: .4rem;
    background: #f8f9fa;
    /* border: 2px solid #e9ecef; */
    border: 2px solid #cfd1d3;
    cursor: pointer;
    transition: all 0.25s ease;
    user-select: none;
    width: 100%;
    font-size: .9rem;
    position: relative;
    gap: .4rem;
}

/* colores y efecto visual para los botones de concepto */
.opcion-concepto input[type="radio"]:checked + .label-opcion {
    background: #0b5db4;
    border-color: #438ce5;
    color: white;
    box-shadow: 0 8px 20px rgba(63, 88, 109, 0.25);
}

.opcion-concepto input[type="radio"]:checked  {
    opacity: 1;
    background: white;
    box-shadow: 0 0 0 4px #438ce5;
}

/* hover para las opciones seleccionables */
.label-opcion:hover {
    border-color: #438ce5;
    transform: translateY(-1px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

/*Sección de filtros para anticipos*/
/* Botón flotante */
.fab-filter {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 55px;
    height: 55px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    z-index: 98;
    transition: background 0.2s;
    outline: none;
}

.fab-filter:hover {
    background: #0056b3;
}

/* Panel de filtros */
.filter-panel {
    position: fixed;
    top: -100%; /* Oculto fuera de pantalla */
    right: 0;
    width: 320px;
    /* background: rgba(117, 172, 226, 0.85); */
    background-color: rgb(228 241 255 / 90%);
    padding: 20px;
    /* box-shadow: 0px 4px 12px rgba(0,0,0,0.2); */
    box-shadow: 0px 4px 12px rgba(0,0,0,0.6);
    z-index: 9998;
    transition: top 0.4s ease;
    border-radius: .4rem;
    /* border: solid 2px rgba(117, 172, 226, 1); */
    border: solid 2px rgb(15, 91, 167);
}

.filter-panel.active {
    top: 2rem;
}

.filter-panel h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.filter-panel form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Inputs en fila */
.filter-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: .4rem;
    border-bottom: solid .1rem #353b48;
}

.title-filter-date{
    color: #0056b3;
    font-size: 1.1rem;
    font-weight: bolder;
}

.btn-aplicar {
    padding: .4rem .8rem;
    background-color: whitesmoke;
    border: solid 2px #438ce5;
    border-radius: .4rem;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-limpiar{
    padding: .4rem;
    background-color: whitesmoke;
    border: solid 2px #cfd1d3;
    border-radius: .4rem;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

.btn-aplicar:hover {
    color: white;
    background-color: #0b5db4;
    transform: translateY(-1px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.btn-limpiar:hover{
    transform: translateY(-1px);
    border: solid 2px #b2b3b5;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);
}

.filter-buttons-container{
    display: flex;
    gap: 1.8rem;
}

/*texto de ayuda visual para filtros*/
.tooltip-filtros {
    position: fixed;
    bottom: 42px; /* encima del botón */
    right: 90px;
    background: #333;
    color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 13px;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 9999;
    white-space: nowrap;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}
/* Panel de filtros */


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* ... (estilos existentes) ... */

/* Ocultar encabezado y pie de página predeterminados del navegador al imprimir */


/* Media query para tablets (≤800px) */
@media (max-width: 800px) {
    .help-panel{
        align-items: normal;
        flex-direction: column;
    }

    .help-panel-buttons{
        justify-content: space-between;
    }

    .table{
        background: none;
    }

    .modal-content {
        width: 98%;
    }

    .table th,
    .table td {
        padding: 8px;
        font-size: 0.9rem;
    }

    .section-table h2 {
        font-size: 20px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .btn-add-anticipo {
        font-size: 0.9rem;
    }

    .compras-menores-container{
        grid-template-columns: 48% 48%;
    }

    .modal-body {
        padding: 2px 10px;
    }

    .paso-anticipo{
        /* color: #668ab1; */
        color: #879eb8;
        font-size: smaller;
    }

    .paso-anticipo-actual{
        color: #0056b3;
        font-size: smaller;
    }

    #contenedor-texto-descarga{
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

/* Media query para móviles (≤600px) */
@media (max-width: 600px) {

    #input-buscar-anticipo{
        width: auto
    }

    #iframe-archivo-cargado{
        display: none;
    }

    /* .modal-elements-container{ */
    .datos-solicitantes-container{
        grid-template-columns: 100%;
    }

    .section-table h2 {
        font-size: 18px;
    }

    .btn-add-anticipo {
        /* width: 100%; */
        font-size: 0.85rem;
    }

    .btn-container{
        display: flex;
        flex-direction: column;
        align-items: normal;
        gap: .8rem;
    }

    .modal-content-detalles-viaticos {
        width: 98%;
    }

    .compras-menores-container .modal-element:nth-child(4),
    .compras-menores-container .modal-element:nth-child(5) {
        grid-column: 1 / -1; /* que abarquen toda la fila */
    }

    /* Moneda e Importe al 50% */
    .compras-menores-container .modal-element:nth-child(6),
    .compras-menores-container .modal-element:nth-child(7) {
        grid-column: span 1; 
        width: 100%;
    }

    .compras-menores-container {
        place-content: center;
        padding: 2rem .8rem 0 .8rem;
        grid-template-columns: 1fr 1fr; /* dos columnas solo para moneda e importe */
        gap: .6rem;
    }

    .compras-menores-container .modal-element input,
    .compras-menores-container .modal-element select,
    .compras-menores-container .modal-element textarea {
        width: 100%;
        box-sizing: border-box; /* para que respete padding/border */
    }

    .edit-doc-autorizacion-elementos{
        display: flex;
        width: 320px;
        flex-wrap: wrap;
        justify-content: left;
        gap: .8rem;
    }

    .container-doc-autorizacion{
        flex: none;
        gap: .8rem;
        flex-flow: column;
    }

    .modal-footer {
        gap: 1.8rem;
    }
}

@media print {
    @page {
        size: A4;
        margin: .4cm;
    }

    body {
        margin: 0;
        padding: 0;
        background: white;
        color: black;
        overflow: hidden;
    }

    .modal-content-detalles-viaticos {
        position: relative;
        background-color: #fefefe;
        border-radius: 0px;
        width: 100vw;
        border: solid 0px;
        overflow: none;
        box-shadow: none;
    }

    .modal-body{
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .viaticos-report {
        width: 100vw;
        margin: 0;
        padding: 0;
        box-shadow: none;
        page-break-after: avoid;
        overflow: hidden;
    }

    /* .viaticos-report table{
        margin-bottom: .2px;
    } */

    .header {
        margin-bottom: 1.5cm;
        border-bottom: 3px double #000;
    }

    .title {
        font-size: 18pt;
        margin-bottom: 6pt;
    }

    .subtitle {
        font-size: 12pt;
    }

    .info-table, .data-table {
        width: 100vw;
        font-size: 11pt;
        /* margin-bottom: 0.2cm; */
    }

    .info-table th,
    .data-table th {
        background-color: #e9e9e9 !important;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
        font-size: 8pt;
        padding: 6pt 4pt;
    }

    .info-table td,
    .data-table td {
        padding: 6pt 4pt;
        font-size: 9pt;
    }

    .section-title {
        font-size: 13pt;
        margin: 1.2cm 0 0cm;
        text-align: center;
        border-bottom: 1pt solid #000;
        padding-bottom: 4pt;
        page-break-after: avoid;
    }

    .total-final {
        font-size: 14pt;
        margin: 1.5cm 0;
        padding: 10pt;
        border: 2pt solid #000;
        background-color: #f5f5f5 !important;
        print-color-adjust: exact;
    }

    .print-button-container {
        display: none; /* Oculta el botón al imprimir */
    }

    /* Evita cortes en tablas */
    table {
        width: 100%;
        border-collapse: collapse;
        page-break-inside: auto;
        overflow: hidden;
    }
    tr {
        page-break-inside: avoid !important;
    }

    td, th {
        word-break: break-word;
    }
    .section {
        page-break-after: always;
    }
    tfoot { display: table-footer-group; }
}