.cost-center-content {
    padding: 2rem;
    /* background: #edf4fe; */
}

.cost-center-content h2 {
    color: #153f65;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.table-responsive {
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: .8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.table {
    /* width: 100%; */
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.table th, .table td {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    color: #03131f;
}

.table-head {
background: #7FAFE6;
    background: linear-gradient(100deg, rgb(193, 221, 255) 0%, rgba(227, 244, 255, 1) 46%, rgba(228, 238, 247, 1) 58%, rgba(217, 237, 255, 1) 78%, rgba(220, 233, 245, 1) 100%);
    position: sticky;
    text-align: left;
    top: 0;
    z-index: 2;
}

.table-hover tbody tr:hover {
    background-color: #f0f8ff;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.btn-add-cc, .btn-add-scc, .btn-add-sscc{
    background-color: #1f58a8;
    color: #ffffff;
    margin-bottom: 15px;
}

.btn-edit-cc, .btn-edit-scc, .btn-edit-sscc{
    border: solid 2px #1f58a8;
    background: none;
    color: #1f58a8;
}

.section-table{
    margin-bottom: 3rem;
    animation: animation-charge-table 1s;
}

@keyframes animation-charge-table{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.td-action{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal-content {
    background: #ffffff;
    border-radius: 0.4rem;
    border: 1px solid #c1daff;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background: #edf4fe;
    color: #153f65;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c1daff;
}

.modal-header h5 {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #153f65;
    cursor: pointer;
}

.fa-xmark:hover{
    transition: all ease-in-out .5s;
    transform: rotate(90deg) scale(105%);
    color: red;
}


.modal-body {
    padding: 1.5rem;
}

.modal-footer {
    padding: 1rem;
    border-top: 1px solid #c1daff;
    text-align: right;
}

.container-input {
    margin-bottom: 1rem;
}

.container-input label {
    display: block;
    color: #153f65;
    font-weight: 600;
}

.container-input input[type="text"],
.container-input select {
    width: 80%;
    margin: .4rem 0 0 0;
    padding: 0.5rem;
    border: 1px solid #c1daff;
    border-radius: 0.4rem;
    font-family: 'Open Sans', sans-serif;
    outline: rgba(255, 255, 255, 0) 3px solid;
}

.container-input input:focus{
    outline: 3px solid rgba(108, 156, 228, 0.8);
}

.container-input input[type="checkbox"] {
    margin-right: 0.5rem;
}

.form-check{
    display: flex;
    align-items: center;
}

.form-check label {
    color: #153f65;
}

@media (max-width: 600px) {
    .table-head tr th{
        font-size: .8rem;
        font-weight: bold;
    }
    .table-body tr td{
        font-size: .8rem;
        /* font-weight: bold; */
    }
}