.users-content {
    padding: 20px;
    /*background-color: #edf4fe;*/ /* Fondo consistente con base.css */
}

.elemento-agregar-usuario{
    margin-bottom: .8rem;
}

.elemento-agregar-usuario button{
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #153f65;
    color: #ffffff;
    font-size: .9rem;
}

.elemento-agregar-usuario button:hover{
    background-color: #0e2941;
}

/* Contenedor de la sección de la tabla */
.section-table {
    margin-bottom: 30px;
}

.section-table h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #153f65; /* Color de texto de base.css */
}

/* Contenedor responsive para la tabla */
.table-responsive {
    overflow-x: auto;
    max-height: 600px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: .8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* Estilos base de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar la tabla */
}

/* Estilos para celdas */
.table th,
.table td {
    padding: 12px; /* Mayor padding para legibilidad en escritorio */
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #03131f; /* Color de texto de base.css */
}

/* Encabezado de la tabla */
.table-head {
    /* background-color: #f2f2f2; */
    background: #7FAFE6;
    background: linear-gradient(100deg, rgb(193, 221, 255) 0%, rgba(227, 244, 255, 1) 46%, rgba(228, 238, 247, 1) 58%, rgba(217, 237, 255, 1) 78%, rgba(220, 233, 245, 1) 100%);
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-head tr th{
    /* color: #1a4faa; */
    color: #153f65;
    font-weight: bold;
    /* font-size: 1.2rem; */
}

/* Efecto hover en las filas */
.table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Fondo al pasar el ratón, consistente con base.css */
}

.btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: fit-content;
}

.btn-add-usuario{
    background-color: #1f58a8;
    color: #ffffff;
    margin-bottom: 15px;
}

.btn-close-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.btn-guardar-usuario{
    color: #153f65;
    border: #153f65 solid 1px;
}

.btn-limpiar{
    border: solid 1px #e66161;
    color: #e66161;
}

.btn-guardar-usuario:hover{
    background: #153f65;
    color: white;
    transform: translateY(2px);
}

.btn-limpiar:hover{
    background: #ce4949;
    color: white;
    transform: translateY(2px);
}

/* Asegura que las celdas sean legibles */
.table td {
    vertical-align: middle;
}

/*Estilos para el modal de agregar usuario inicia*/
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 89; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  /* background-color: white; */
  /* background-color: #F9FAFB; */
  background-color: white;
  border-radius: 1.2rem;
  margin:12px auto;
  /* border: 1px solid #888; */
  width: 336px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow: auto;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* .modal-header {
    padding: .8rem .6rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    background: linear-gradient(331deg,rgba(255, 255, 255, 1) 0%, rgba(222, 242, 255, 1) 0%, rgba(125, 155, 186, 1) 17%, rgba(63, 100, 135, 1) 45%, rgba(21, 63, 101, 1) 78%);
} */

.modal-header {
    padding: 1rem 1.2rem;
    background: linear-gradient(135deg, #1A4E8A 0%, #336FA9 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.modal-body {
    padding: 2px 16px;
    /* background: red; */
}

.modal-footer {
    padding: .8rem 0;
    color: white;
    border-top: rgb(175, 173, 173) 1px solid;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.btn-close-modal:hover{
    transform: scale(104%);
    transition: linear .4s;
    font-weight: bold;
    rotate: 90deg;
}

.modal-elements-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 0 0;
    flex-wrap: wrap;
}

.modal-element{
    display: grid;
    width: 100% ;
    position: relative;
    margin-bottom: 20px;
}

.modal-element input, .modal-element select{
    background-color: white;
    /* padding: .4rem; */
    padding: 0.6rem 0.75rem 0.6rem 2.2rem;
    background: none;
    font-size: 15px;
    transition: .3s;
    border-radius: 6px;
    color: #1F2937;
    /* border: solid 1px rgb(211, 206, 206); */
    border: solid 1px #D1D5DB;
    transition: border-color 0.3s ease;
}

.placeholder{
    position: absolute;
    left: 8px;
    background: white;
    top: 50%;
    transform: translateY(-28px);
    padding: 0 .2rem;
    color: #777;
    pointer-events: none;
    font-size: 13px;
    transition: 0.3s;
}

#doc-identidad, #user-rol{
    outline: solid 3px rgba(0,0,0,0);
}

#doc-identidad:focus, #user-rol:focus{
    outline: solid 3px #466a8a;
    border: rgba(0,0,0,0) solid 1px;
}

.lupa{
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: auto;
    right: 8px;
    align-items: center;
    padding: 0 .2rem;
    color: #777;
    transition: 0.3s;
    cursor: pointer;
    z-index: 99;
}

.lupa:hover{
    color: #0b2942;
    font-weight: bold;
}

.lupa i{
    float: left;
    /* filter: drop-shadow(5px 5px 5px #0b2942); */
}

.input-icon-left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    z-index: 10;
    pointer-events: none;
    font-size: 14px;
}

.modal-element input {
    padding-left: 2rem; /* Ajusta este valor según el tamaño del ícono */
}
/*Estilos para el modal termina*/

/* Media query para tablets (≤800px) */
@media (max-width: 800px) {

    .table{
        background: none;
    }
    
    /* Reducir padding y tamaño de fuente para ahorrar espacio */
    .table th,
    .table td {
        padding: 8px; /* Menor padding para más contenido en pantalla */
        font-size: 0.9rem; /* Tamaño de fuente más pequeño para legibilidad */
    }

    /* Ajustar el título para pantallas más pequeñas */
    .section-table h2 {
        font-size: 20px; /* Reducir tamaño del título */
    }

    /* Asegurar que el contenedor permita desplazamiento */
    .table-responsive {
        overflow-x: auto; /* Mantiene el desplazamiento horizontal */
    }

    .modal-content{
        width: 342px;
    }
}

/* Media query para móviles (≤600px) */
@media (max-width: 600px) {
    /* Transformar la tabla en un formato de tarjetas para mejor legibilidad */
    .table {
        display: grid; /* Cambia la tabla a un bloque para apilar filas */
    }

    /* Ocultar el encabezado de la tabla, ya que usaremos data-label */
    .table thead {
        display: none; /* Oculta los <th> en móviles */
    }

    /* Convertir cada fila en un bloque */
    .table tbody tr {
        display: block; /* Cada fila es un bloque (tarjeta) */
        margin-bottom: 15px; /* Espacio entre filas */
        border: 1px solid #ddd; /* Borde para definir cada tarjeta */
        border-radius: 4px; /* Bordes redondeados para estética */
        background-color: #fff; /* Fondo blanco para cada tarjeta */
    }

    .table td {
        display: block;
        text-align: right;
        padding: 8px;
        font-size: 0.85rem;
        border: none;
        position: relative;
    }

    .table td:before {
        content: attr(data-label);
        position: absolute;
        left: 8px;
        font-weight: 600;
        color: #153f65;
        text-transform: capitalize;
    }
    
    .modal-content{
        width: 340px;
    }
}